.hero
.hero
  p
    | collection of button hover effects. MIT license. <br/>
    a(href="https://github.com/davfry") @davfry

h3 color effects
.box.bg-1
  .btn-thin.fill-back button
  .btn-thin.fill-back button
  .btn-thin.fill-back button

.box.bg-2
  .btn-thick.fill-bord button
  .btn-thick.fill-bord button
  .btn-thick.fill-bord button
.box.bg-1
  .btn-pill.fill-bord button
  .btn-pill.fill-bord button
  .btn-pill.fill-bord button

h3 animations
.box.bg-1
  .btn-thin.grow button
  .btn-thick.grow button
  .btn-pill.grow button
.box.bg-2
  .btn-thin.shrink button
  .btn-thick.shrink button
  .btn-pill.shrink button
.box.bg-1
  .btn-thin.pop button
  .btn-thick.pop button
  .btn-pill.pop button
.box.bg-2
  .btn-thin.bounce button
  .btn-thick.bounce button
  .btn-pill.bounce button
