h3 color effects
.btn-thin-fill button
.btn-thick-fill button
.btn-thick-pill button

h3 2d effects
.btn-thin-grow button
.btn-thick-grow button
.btn-thick-pill-grow button
br
.btn-thin-shrink button
.btn-thick-shrink button
.btn-thick-pill-shrink button
