h3 color effects
.btn-thin.fill-back button
.btn-thick.fill-bord button
.btn-pill.fill-bord button

h3 2d effects
.btn-thin.grow button
.btn-thick.grow button
.btn-pill.grow button
br
.btn-thin.shrink button
.btn-thick.shrink button
.btn-pill.shrink button
br
.btn-thin.pop button
.btn-thick.pop button
.btn-pill.pop button
br
.btn-thin.bounce button
.btn-thick.bounce button
.btn-pill.bounce button
